 .Info{
    background-color: blue;
    padding: 10PX;
    padding-left: 25px;
}
.Succ{
    background-color: rgb(61, 130, 61);
    padding: 10PX;
    padding-left: 25px;
}
.Warn{
    background-color: yellow;
    padding: 10PX;
    padding-left: 25px;
}
.Err{
    background-color: red;
    padding: 10PX;
    padding-left: 25px;

}
#inner{
    padding: 100px;
    
    }
#outer{
    border: 2px solid black;
    display: inline-block;
    margin-top: 10%;
}    
